body{
    background-color: #333;
    color: #fff;
}

#box{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    color: #000;
}
