*{
    margin: 0;
    padding: 0;
}
h1{
    margin: 1rem 0;
    height: auto;
    width: 100%;
    text-align: center;
}

body{
    background-color: #333;
    color: #fff;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#main{
    width: 70%;
    height: 70%;
    margin: 2rem auto;
    padding-right: 2rem;
    border-radius: 1rem;
    border: #fff solid 1px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.message{
    width: calc(100% - 2rem);
    height: auto;
    padding: 1rem;
    background-color: rgba(255,255,255,0.1);
    border-radius: 1rem;
    margin: 1rem;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgba(0,0,0,0);

  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;

  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

.inputs{
    width: 70%;
    padding: 0.3rem;
    margin: 1rem auto;
    text-align: center;
}

input{
    width: calc(70% - 2rem);
    height: 100%;
    margin: 0.5rem;
    display: inline-block;
}
button{
    width: calc(30% - 2rem);
    height: 100%;
    display: inline-block;
    margin: 0.5rem;
}


